[core]
	excludesfile = ~/.gitignore
	editor = nvim
	fsmonitor = true
	quotepath = false
[push]
	default = current
	followTags = true
[color]
	status = auto
	diff = auto
	branch = auto
	interactive = auto
	grep = auto
	ui = auto

[alias]
	# --- ESSENTIAL SHORTHANDS ---
	st = status
	co = checkout
	cob = checkout -b
	cm = commit -m
	aa = add -A .
	br = branch

	# --- SMART SYNCING (No need to type branch name) ---
	# Pull from origin of the current branch
	pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
	# Push to origin of the current branch
	ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
	# Force push current branch (use with caution)
	fush = "!git push origin $(git rev-parse --abbrev-ref HEAD) -f"

	# --- POWERFUL WORKFLOWS ---
	# Fast-fix the last commit (great for typos or forgotten files)
	amend = commit --amend --no-edit
	# Undo the last commit, but keep your work staged
	undo = reset --soft HEAD~1
	# The most readable log view (History)
	hist = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

	# --- MERGE CONFLICTS ---
	# Open all files with conflicts in Neovim
	edit-unmerged = "!nvim $(git ls-files --unmerged | cut -f2 | sort -u)"
	# Add all resolved files after a conflict
	add-unmerged = "!git ls-files --unmerged | cut -f2 | sort -u | xargs git add"

	# --- UTILS ---
	# Manage your dotfiles
	dot = "!git --git-dir=$HOME/.dots --work-tree=$HOME"
	# Clean up merged local branches to keep things tidy
	bclean = "!f() { git branch --merged ${1-main} | grep -v " ${1-main}$" | xargs -r git branch -d; }; f"
[difftool]
	prompt = false
[diff]
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = vim -d \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool]
	prompt = true
[mergetool "nvimdiff"]
    layout = "LOCAL,MERGED,REMOTE"
	cmd = nvim -d "$LOCAL" "$REMOTE" "$MERGED" -c 'wincmd J'
[merge]
    tool= nvimdiff
	conflictstyle = diff3

[init]
	defaultBranch = main
[user]
	email = tranquanki28@gmail.com
	name = Khanh Tran
[status]
	showUntrackedFiles = no
[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential
[fetch]
	prune = true
