* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
  color: #d3c6aa;
}

window#waybar {
  background: #272e33;
}

#workspaces button {
  padding: 0 8px;
  background: #2e383c;
  color: #859289;
  border-radius: 4px;
}

#workspaces button.focused {
  background: #7fbbb3;
  color: #272e33;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#tray,
#custom-launcher,
#custom-powermenu {
  background: #2e383c;
  padding: 0 10px;
}
