/* Everforest Palette */
@define-color bg #2b3339;
@define-color bg_alt #323c41;
@define-color fg #d3c6aa;
@define-color red #e67e80;
@define-color orange #e69875;
@define-color yellow #dbbc7f;
@define-color green #a7c080;
@define-color aqua #83c092;
@define-color blue #7fbbb3;
@define-color grey #859289;

* {
  font-family: "JetBrainsMono Nerd Font", "Material Design Icons", "sans-serif";
  font-size: 14px;
  border: none;
  border-radius: 12px;
}

main-bar {
  background-color: @bg;
  border-radius: 15px;
  border: 1px solid @bg_alt;
}

window#waybar {
  border-radius: 12px;
  color: @fg;
  background: transparent;
}

.modules-center {
  background-color: @bg;
  border: 2px solid @blue;
}

/* Common style for all modules */
#custom-launcher,
#workspaces,
#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#idle_inhibitor,
#tray,
#custom-powermenu {
  padding: 8px 0;
  margin: 4px 6px;
}

/* Launcher */
#custom-launcher {
  font-size: 20px;
  color: @green;
  margin-bottom: 10px;
}

/* Workspaces */
#workspaces {
  background-color: @bg_alt;
  border-radius: 8px;
}

#workspaces button {
  padding: 4px 0;
  color: @grey;
}

#workspaces button.active {
  color: @aqua;
}

#workspaces button.urgent {
  color: @red;
}

/* Clock - centered vertical */
#clock {
  font-weight: bold;
  color: @fg;
}

/* Utilities colors */
#pulseaudio {
  color: @blue;
}
#backlight {
  color: @yellow;
}
#memory {
  color: @orange;
}
#cpu {
  color: @aqua;
}
#temperature {
  color: @green;
}
#battery {
  color: @green;
}

#battery.warning {
  color: @orange;
}
#battery.critical {
  color: @red;
}

#idle_inhibitor {
  color: @yellow;
}

/* Powermenu */
#custom-powermenu {
  color: @red;
  font-size: 18px;
  margin-top: 10px;
}

/* Tray */
#tray {
  margin-top: 10px;
}
