* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
  color: #d3c6aa;
}

window#waybar {
  background: #272e33;
}

#workspaces button {
  padding: 0 8px;
  background: #2e383c;
  color: #859289;
  border-radius: 4px;
}

#workspaces button.focused {
  background: #7fbbb3;
  color: #272e33;
}

#clock,
#pulseaudio,
#memory,
#cpu,
#temperature,
#battery,
#tray,
#custom-launcher,
#custom-powermenu {
  background: #2e383c;
  padding: 0 10px;
}

/* Player title */
#custom-player {
  color: #859289; /* grey1 */
  opacity: 0.75;
}

/* Cava visualizer */
#custom-cava {
  color: #7a8478; /* grey0 */
  opacity: 0.55;
}

#custom-player,
#custom-cava {
  font-weight: 400;
  letter-spacing: 0.5px;
}

#custom-updates {
  color: #7a8478; /* grey0 */
  opacity: 0.7;
}

#custom-player,
#custom-cava,
#custom-updates {
  background: rgba(46, 56, 60, 0.85);
  padding: 0 10px;
}
