layout {

    focus-ring {
        active-color   "#271d1e"
        inactive-color "#e8e3e4"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#271d1e"
        inactive-color "#e8e3e4"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#cfc9ca70"
    }

    tab-indicator {
        active-color   "#271d1e"
        inactive-color "#876f72"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#271d1e80"
    }
}

recent-windows {
    highlight {
        active-color "#271d1e"
        urgent-color "#fd4663"
    }
}
