layout {

    focus-ring {
        active-color   "#00668a"
        inactive-color "#f9f9f9"
        urgent-color   "#ba1a1a"
    }

    border {
        active-color   "#00668a"
        inactive-color "#f9f9f9"
        urgent-color   "#ba1a1a"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#00668a"
        inactive-color "#c3e8ff"
        urgent-color   "#ba1a1a"
    }

    insert-hint {
        color "#00668a80"
    }
}

recent-windows {
    highlight {
        active-color "#00668a"
        urgent-color "#ba1a1a"
    }
}
